// <<<<<<<<<<<<<<<<<<<<<<<<<<<<<PORTFOLIO>>>>>>>>>>>>>>

.pics__list {
  list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 94px;
  }
  
  .pics__item {
    list-style: none;
    background: #ffffff;
    width: 370px;
  }
  
  .pics__link {
    display: block;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    :focus {
      color: var(--text-hover-color);
      background-color: transparent;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
      0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
  
  .pics__link:hover .pics__wrap-text {
    transform: translateY(0%);
  }
  
  .pics__wrap {
    position: relative;
    overflow: hidden;
    
  }
  
  .pics__wrap-text {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--sub-text-color);
    background-color: rgba(33, 150, 243, 0.9);
    font-weight: 400;
    font-size: 18px;
    line-height: calc(28 / 18);
    padding: 63px 24px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
  }
  
  .pics__title-wrap {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: 0;
    display: block;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    
    &:hover,
      :focus {
        color: var(--text-hover-color);
        background-color: transparent;
    }
  }
  
  .pics__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
    
  }
  
  .pics__subtitle {
    margin-top: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    color: var(--text-contact);
  }

//  ------------------------ BENEFITS INDEX ---------------------
  
.benefits {
  padding: 94px 0;
  @media screen and(min-width: 480px) {
    width: 450px;
    // justify-content: center;
    align-items: center;
    padding: 60px 0;
  }

  @media screen and(min-width: 768px) {
    width: 738px;
    // flex-wrap: wrap;
  }

  @media screen and(min-width: 1200px) {
    width: 100%;
    // flex-wrap: wrap;
    // display: flex;
    // column-gap: 30px;

  }
  
}  

.benefits__wrap {
    // text-align: left;
    width: 100%;
}
  
.benefits__list {
    display: flex;
    column-gap: 30px;
    
    @media screen and(min-width: 480px) {
      width: 450px;
      flex-wrap: wrap;
      justify-content: center;
    }
    
    @media screen and(min-width: 768px) {
      width: 738px;
      justify-content: center;
    }
    
    @media screen and(min-width: 1200px) {
      width: 1200px;
      justify-content: center;
      // flex-wrap: wrap;
      // display: flex;
      // column-gap: 30px;

    }
      
    }
  
  
  .benefits__item {
    list-style: none;
    display: flex;
    

    @media screen and(min-width: 480px) {
      width: 450px;
      justify-content: center;
      text-align: left;
      // align-items: center;
      flex-wrap: wrap;
    }
    @media screen and(min-width: 768px) {
      width: calc((100% - 30px) / 2 );
      flex-wrap: wrap;
    }
    @media screen and(min-width: 1200px) {
      width: calc((100% - 230px) / 4 );
    }
  }

  .benefits__image {
    width: 270px;
    // width: calc((100% - 90px) / 4);
    // flex-wrap: wrap;
    @media screen and(min-width: 480px) {
      width: 450px;
      height: 120px;
      justify-content: center;
      align-items: center;
    }
    
    @media screen and(min-width: 768px) {
      width: 354px;
      height: 120px;
      // flex-wrap: wrap;
    }

    @media screen and(min-width: 1200px) {
      width: 270px;
      height: 120px;
      // display: flex;
    }
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 30px;
  }
  
  .benefits__icon {
    align-items: center;
    justify-content: center;
  }
  
  .benefits__title {
    margin-bottom: 10px;
    @media screen and(min-width: 480px) {
      text-align: center;
      font-size: 14px;
    }
    @media screen and(min-width: 768px) {
      // text-align: left;
      font-size: 14px;
    }

    @media screen and(min-width: 1200px) {
      text-align: center;
      // font-size: 16px;
    }

    
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
  }
  
  .benefits__sub-title {
    font-style: normal;
    font-weight: 400;
    @media screen and(min-width: 480px) {
      font-size: 14px;
      margin-bottom: 30px;
      max-width: 100%;
    }
    line-height: 1.7;
    color: var(--text-contact);
    max-width: 322px;
  }
  